Pods
Issues
TextIndex
ModuleCache
PrecompiledHeaders
Podfile.lock
xcuserdata
xcscheme
Gemfile
Gemfile.lock
.xcuserdatad
xcschemes
xcschememanagement.plist
UserInterfaceState.xcuserstate
.DS_Store
.hgignore

Pods/*
build/*
.hg/*
docs/*
.svn/
.lldbinit
# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcuserdata/*
/.idea/
*.xcworkspace/xcuserdata
*.lock 
/Podfile.lock
/Pods/
*.xcuserdatad