Pods
Issues
TextIndex
TBMainClient-Prefix.pch
ChemIsArt.xcindex
ModuleCache
PrecompiledHeaders
Podfile.lock
xcuserdata
xcscheme
Gemfile
Gemfile.lock
.xcuserdatad
xcschemes
xcschememanagement.plist
UserInterfaceState.xcuserstate
.DS_Store
.hgignore

Pods/*
build/*
.hg/*
docs/*
.svn/
.lldbinit
# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcuserdata/*
/.idea/
ChemIsArt.xcworkspace/xcuserdata
*.lock 
DerivedData/ChemIsArt/scm.plist
DerivedData/ChemIsArt/Index/ChemIsArt.hmap
/Podfile.lock
/Pods/
*.xcuserdatad

/ChemIsArt.xcodeproj/project.xcworkspace/xcshareddata/
/ChemIsArt.xcworkspace/xcshareddata/
*.xcuserstate
DerivedData/ChemIsArt/info.plist
DerivedData/ChemIsArt/Logs/Debug/*.xcactivitylog
DerivedData/ChemIsArt/Logs/Debug/15E4DCAE-3E0D-4AB0-96DB-66430FB1E5EC.xcactivitylog
DerivedData/ChemIsArt/Logs/Debug/0718EE37-9801-42AA-8028-F91F924872B5.xcactivitylog
DerivedData/ChemIsArt/Logs/Debug/12D39180-9A78-4748-8F11-E4B8E01CF306.xcactivitylog
DerivedData/ChemIsArt/Logs/Debug/49458ABB-F64D-4362-AACD-D9219C0181C8.xcactivitylog
DerivedData/ChemIsArt/Logs/Debug/F3D54480-8245-4FAC-ABD4-73A27BB3968F.xcactivitylog
DerivedData/ChemIsArt/Logs/Debug/F74E033B-90F1-48B7-B0FC-110C7327FA8E.xcactivitylog
DerivedData/ChemIsArt/Logs/Debug/0EA09BD8-864B-4789-B1CE-92166CE11201.xcactivitylog
DerivedData/ChemIsArt/Logs/Debug/44ABBBCE-39B5-4C32-83AA-898D897243CF.xcactivitylog
DerivedData/ChemIsArt/Logs/Debug/573DB3C5-EF7B-4A03-8C1E-151C4F4DD192.xcactivitylog
DerivedData/ChemIsArt/Logs/Debug/670EA6E0-6476-4491-9EFB-E2AF6D2F20CE.xcactivitylog
